# Python virtual environment
environment/
venv/
.venv/

# Environment variables
.env

# Python cache
__pycache__/
*.pyc

# Node modules
node_modules/

# Build folders
dist/
build/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db