# Python
__pycache__/
*.py[cod]
*.pyo
*.pdf

# Virtual environments
venv/
.venv/

# Environment variables
.env
.env.*

# User uploaded files
uploads/

# Vector database
vector_db/

# Logs
*.log

# Node
node_modules/
frontend/node_modules/

# Frontend build
frontend/dist/

# OS
.DS_Store
Thumbs.db