.app {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: var(--bg-secondary);
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  background-color: var(--bg-secondary);
  transition: var(--transition);
  overflow: hidden;
}